<div class = "show bookers-content">
	<% if flash[:notice] %>
		<div class = "flash">
			<%= flash[:notice] %>
		</div>
	<% end %>
	<div class= "show-content">
		<p>
			<span>Title:</span> <%= @book.title %>
		</p>
		<p>
			<span>Body:</span> <%= @book.body %>
		</p>
	</div>
	<div class= "show-links">
		<%= link_to "Edit", edit_book_path(@book) %>
		<span>|</span>
		<%= link_to "Back", books_path %>
	</div>
</div>